body {
  background-color: yellow !important;
}

* { border: 2px solid red; }

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.profileImage{
    width: 200px;

}